nav{
    background-color:  #303030;;
    overflow: hidden;
}
nav a{
    text-align: center;
    float: right;
    display: block;
    padding: 16px 16px;
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover{
    background-color: blanchedalmond;
    color: black;}

#box{
    height: 210px;
    width: 210px;
    background-color: rgb(235, 196, 147);
    text-align: center;
    padding-top: 35px;
    font-size: large;
    border-radius: 20px;
    animation-name: slideleft;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slideleft{
    from{
        transform: translateX(500%);
    }
}

